.vd_header {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    background: linear-gradient(90deg, rgb(65, 0, 158) 0%, rgb(109, 54, 176) 50%);
    padding: 4px-8px;
}
.vd_logo {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: none;
    margin: 0px 6px 0px 6px;
    display: block;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}